asgiref==3.8.1
astroid==3.2.4
bandit==1.7.9
certifi==2024.2.2
charset-normalizer==3.3.2
dill==0.3.8
Django==5.0.6
django-allauth==0.63.2
django-sslserver-v2==1.0
gunicorn==23.0.0
idna==3.7
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.11.1
mypy-extensions==1.0.0
packaging==24.1
pbr==6.0.0
pillow==10.3.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
Pygments==2.18.0
pylint==3.2.6
python-decouple==3.8
PyYAML==6.0.2
requests==2.32.2
rich==13.7.1
ruff==0.6.2
sqlparse==0.5.0
stevedore==5.3.0
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.2.1
whitenoise==6.6.0
