{% load socialaccount %}
{% providers_media_js %}
<div style="margin-top: 5%;">
    <div style="margin-left: 10%;">
        {% if user.is_authenticated %}
        <h5>{{ heading }}</h5>
        <p class="mb-3">{{ desc }}</p>
        <a id="logout" class="btn btn-secondary" href="{% url 'account_logout' %}">Logout</a>
        {% else %}
        <h5>{{ heading }}</h5>
        <p class="mb-3">{{ desc }}</p>
        <a id="login" class="btn btn-primary" href="{% provider_login_url "facebook" %}">Facebook Connect</a>
        {% endif %}
    </div>
</div>
