<!DOCTYPE html>
<html lang="en">

<head>
    
    {% block header %} 
        {% include 'components/header.html'%} 
    {% endblock %}

</head>

<body>

    {% block button %}
        {% include 'components/login_button.html' %}
    {% endblock %}

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Load the JS SDK asynchronously -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

</body>
</html>